click==7.1.2
colorama==0.4.4
Flask==2.0.2
Flask-Cors==3.0.10
greenlet==1.1.2
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
python-dotenv==0.19.2
six==1.16.0
Werkzeug==2.0.3
pytest==4.6.2
flask-inputs==0.3.0
jsonschema==3.0.1
